@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  display: flex;
  font-family: 'Figtree';
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
  position: relative;
}

/* .attribution {
  display: flex;
  justify-content: center;
  font-size: 11px;
  position:absolute;
} */

.card {
  justify-content: center;
  background-color: white;
  height: 476px;
  width: 336px;
  padding: 24px;
  border-radius: 20px;
  filter: drop-shadow( -1px -1px black) drop-shadow( 10px 10px black);
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 10px;
}

.tag {
  text-align: center;
  align-items: center;
  font-weight: 800;
}

.color {
  background-color:hsl(47, 88%, 63%);
  width: 76px;
  height: 26px;
  text-align: center;
  border-radius: 6px;
}

.content {
  justify-content: center;
}

.date {
  font-size: 14px;
  font-weight: bold;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icon {
  height: 32px;
  width: 32px;
}

b {
  font-size: 14px;
  font-weight: 800;
}

.header {
  font-weight: bold;
  font-size: 26px;
}

.para  {
  font-size: 16px;
  font-weight: 200;
}
