@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  display: flex;
  font-family: 'Figtree';
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
  position: relative;
}

/* .attribution {
  display: flex;
  justify-content: center;
  font-size: 11px;
  position:absolute;
} */

.card {
  justify-content: center;
  position: absolute;
  background-color: white;
  height: 476px;
  width: 336px;
  padding: 24px;
  border-radius: 20px;
  filter: drop-shadow( -1px -1px black) drop-shadow( 10px 10px black);
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 10px;
}

.tag {
  gap: 8px;
  /* padding: 12px 4px; */
  align-items: center;
  border-radius: 4px;
  font-weight: 800;
}

.color {
  background-color:hsl(47, 88%, 63%);
 
}

.content {
  gap: 12px;
}

.date b {
  font-size: 14px;
  font-weight: 400;
  
}

.bottom {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icon {
  height: 32px;
  width: 32px;
}

b {
  font-size: 14px;
  font-weight: 800;
}

